/*个人信息页*/
.cintent-card .layui-form-item .photo-change {
    width: 250px;
}
.cintent-card .layui-form-item .photo-change img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.cintent-card .layui-form-item .photo-change button {
    margin-left: 15px;
}
/*移动设备适配*/
@media screen and (max-width: 768px) {
    /*个人中心修改密码信息页*/
    .layui-layout-body .layui-body .manage-body,.layui-layout-body .layui-body .layui-card-body {
        padding-left: 0;
    }
}