@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: url("../../images/bg-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
}

/*ul li {*/
/*    list-style: none*/
/*}*/

/*.blue {*/
/*    color: #31acfb*/
/*}*/

/*a {*/
/*    text-decoration: none*/
/*}*/


.main {
    height: 400px;
}
.form {
    width: 100%;
    height: 100%;
    background: url(../../images/bg.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    top: 38%;
    padding: 20px 40px;

}
.form-head h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #31acfb;
}
.form-head ul {
    display: table;
    width: 100%;
    text-align: center;
}

.form-head ul li {
    display: table-cell;
    height: 15px;
    line-height: 20px;
}

.form-head ul li:nth-child(1) {
    float: left;
    line-height: 20px;
}
.form-head ul li:nth-child(3) {
    float: right;
}
.form-head img {
    width: 100%;
    text-align: center;
}
.form-head .step {
    color: #31acfb;
}
/*移动设备*/
@media screen and (max-width: 768px) {

}
/*.main {*/
/*    position: relative;*/
/*    top: calc(50% - 40px);*/
/*    height: 500px;*/
/*    !*: 520px;*!*/
/*    margin: 0 auto;*/
/*    margin-top: 140px;*/
/*    width: 700px;*/
/*    background-image: url(../../images/bg.png);*/
/*    border-radius: 20px;*/
/*}*/

/*.formBox {*/
/*    !*background-color: red;*!*/
/*    height: 400px;*/
/*    padding: 50px;*/
/*    !*font-size: 14px;*!*/
/*    !*color: #333;*!*/
/*    !*width: 623px;*!*/
/*    !*margin: 0 auto;*!*/
/*    !*text-align: center;*!*/
/*}*/

/*.form-head h1 {*/
/*    text-align: center;*/
/*    !*line-height: 90px;*!*/
/*    !*font-size: 20px;*!*/
/*    color: #31acfb;*/
/*}*/


/*.mainCol {*/
/*    color: #31acfb;*/
/*}*/

/*.itembox {*/
/*    margin-top: 55px;*/
/*    overflow: hidden*/
/*}*/

/*.itembox label {*/
/*    display: block;*/
/*    width: 90px;*/
/*    font-weight: normal;*/
/*    line-height: 40px;*/
/*    margin: 0px;*/
/*    margin-left: 13px;*/
/*    float: left;*/
/*    text-align: right;*/
/*    font-size: 14px;*/
/*    color: #333;*/
/*}*/

/*.itembox input {*/
/*    display: block;*/
/*    float: left;*/
/*    height: 40px;*/
/*    line-height: 40px;*/
/*    color: #999;*/
/*    border: 1px solid #ccc;*/
/*    width: 280px;*/
/*    padding-left: 10px;*/
/*    margin-left: 40px;*/
/*    background-color: #f4f4f4;*/
/*}*/

/*.btnBox {*/
/*    padding-top: 30px;*/
/*    margin-left: calc(50% - 80px);*/
/*    width: 160px;*/
/*}*/

/*.btnBox button {*/
/*    width: 100%;*/
/*    line-height: 40px;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    background-color: #30adfa;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer*/
/*}*/

/*.itembox_2 {*/
/*    margin-top: 28px*/
/*}*/

/*.itembox input.yzm {*/
/*    width: 178px;*/
/*}*/

/*.itembox .yzmbox {*/
/*    float: left;*/
/*    margin-left: 18px;*/
/*}*/

/*.yzmbox2 {*/
/*    font-size: 12px;*/
/*    background-color: #f4f4f4;*/
/*    color: #666;*/
/*    border: 1px solid #ccc;*/
/*    float: left;*/
/*    width: 99px;*/
/*    line-height: 38px;*/
/*    margin-left: 3px;*/
/*}*/

/*.sub {*/
/*    height: 96px;*/
/*    padding-top: 62px;*/
/*    font-size: 18px;*/
/*}*/

/*.sub span {*/
/*    padding-right: 15px;*/
/*    color: #31acfb;*/
/*}*/

/*.btnBox_2 {*/
/*}*/

/*.btnBox_2 button {*/
/*    display: block;*/
/*    width: 160px;*/
/*    margin: 0 auto;*/
/*    background-color: #31acfb;*/
/*    border-radius: 5px;*/
/*    line-height: 40px;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    border: 0px;*/
/*    text-decoration: none;*/
/*    cursor: pointer*/
/*}*/


/*.footer {*/
/*    width: 100%;*/
/*    height: 60px;*/
/*    line-height: 60px;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    background: url(../../images/footerBg.png);*/
/*    background-color: transparent;*/
/*}*/

/*.footer0 {*/
/*    width: 1200px;*/
/*    height: 60px;*/
/*    margin: 0 auto;*/
/*    font-size: 14px;*/
/*    color: #adacac*/
/*}*/

/*.footer_l {*/
/*    float: left*/
/*}*/

/*.footer_r {*/
/*    float: right*/
/*}*/
/*!*移动设备*!*/
/*@media screen and (max-width: 768px) {*/
/*    body {*/
/*        min-width: 768px;*/
/*    }*/
/*    .main0 {*/
/*        margin-left: 0;*/
/*        margin-right: 0;*/
/*    }*/
/*    .formBox {*/
/*        padding-left: 10px;*/
/*        width: 350px;*/
/*        margin-left: 0;*/
/*        margin-right: 0;*/
/*    }*/
/*    .formBox img {*/
/*        width: 100%;*/
/*    }*/
/*    .btnBox {*/
/*        margin-left: 100px;*/
/*    }*/
/*    .itembox label {*/
/*        margin-left: 0;*/
/*    }*/
/*    .itembox input {*/
/*        margin-left: 10px;*/
/*        width: 220px;*/
/*    }*/
/*    .itembox input.yzm {*/
/*        width: 130px;*/
/*    }*/
/*}*/
