body {
    background-color: #f1f1f1;
}
/*导航栏固定定位*/
.nav-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
}
/*电脑版导航栏logo*/
#desktop-nav img{
    width: 120px;
    margin-top: 10px;
}
/*手机版导航栏logo*/
#mobile-nav {
    padding: 0;
}

#mobile-nav span{
    padding-right: 10px;
}
#mobile-nav span li {
    display: inline;
}
#mobile-nav span a i{
    font-size: 40px;
    color: white;
    padding-top:10px;
    padding-left: 5px;
}
#mobile-nav .layui-nav-bar{
    background-color: #393d49;
    padding-right: 0;
}
/*导航栏图标*/
.nav-icon i {
    font-size: 30px;
    display: inline;
    float: right;
}
.nav-icon {
    float: right;
}
/*导航栏页面边距*/
#desktop-nav {
    padding: 0 5%;
}
/*手机侧边导航栏*/
.broadside-btn {
    position: relative;
    left: 0;
    color: #777777;
    padding: 0 10px;
    font-size: 40px;
    text-decoration: none;
    font-family: layui-icon!important;
    cursor: pointer;
    transition: 1s all
}
.broadside-btn:before {
    content: '\e66b';
}
.broadside-btn-close {
    left: 200px;
    transition: 0.8s all
}
.broadside-btn-close:before {
    content: '\e668';
}
.side-close{
    margin-left: -200px;
    transition: 0.8s all;
}
.side-show {
    margin-left: 0;
}
.layui-logo {
    height: 70px;
}
/*主体内容*/
#main {
    padding-top: 80px;
    margin-left: 0;
    margin-right: 0;
}
/*轮播图片*/
.carousel-img img {
    width: 100%;
}
/*首页各个栏目标题*/
h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    color: #1E9FFF;
    font-size: 25px;
}
/*卡片悬浮特效*/
.suspend{
    -webkit-transition: all 2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    word-break: break-all;
}
.suspend:hover {
    box-shadow: 0px 1rem 1rem 0px rgba(48, 55, 66, 0.15);
    transform: translate(0, -5px);
    transition-delay: 0s !important;
}
/*主页侧边栏*/
.post-right-item {
    padding: 15px 20px 15px 20px;
    background-color: #FFF;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    margin-bottom: 20px;
}
/*主页侧边栏栏目图标*/
.post-right-item strong i {
    color: #1E9FFF;
    font-size: 25px;
}
/*主页侧边栏栏目中的小图标*/
.post-right-item i {
    color: #4e555b;
    font-size: 15px;
}
/*热门文章*/
#hot-list {
    padding-left: 20px;
    color: #d9534f;
    font-size: 16px;
    margin-bottom: 0;
}
#hot-list li {
    list-style:decimal;
}
/*热门文章标题名称列表*/
#hot-list li a {
    display: block;
    padding: 6px 20px 6px 10px;
    position: relative;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #747f8c;
    line-height: 22px;
}
/*热门文章标题列表悬停效果*/
#hot-list li a:hover {
    font-weight: bold;
    color: #d9534f;
    text-decoration:none;
}
/*首页最新文章*/
.index-new {
    margin-top: 1em;
    background-color: #FFF;
    padding: 15px 20px 20px;
    margin-bottom: 25px;
}
/*首页最新文章每个div*/
.article-box {
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #EEE;
    -webkit-transition: all 2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    word-break: break-all;
}
/*首页最新文章每个div悬停效果*/
.article-box:hover {
    box-shadow: 1px 1rem 1rem 1px rgba(48, 55, 66, 0.15);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
    background-color: #F5F5F5;
}
/*首页最新文章标题*/
.article-box h3 a{
    color: #353535;
    font-weight: bold;
    font-size: 20px;
    text-decoration:none;
}
/*首页最新文章标题悬停效果*/
.article-box h3 a:hover {
    color: #d9534f;
    padding-left: 5px;
}
/*首页最新文章封面图片*/
.img-cover {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
/*首页最新文章摘要*/
.txt-cont a{
    font-size: 14px;
    line-height: 26px;
    max-height: 78px;
    overflow: hidden;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
/*首页最新文章摘要悬停效果*/
.txt-cont a:hover{
    color: #696969;
}
/*图片放大效果*/
img{
    transition: all 2s;
}
div img:hover{
    transform: scale(1.05);
}
/*文章标签*/
.label-tag a{
    text-decoration: none;
    margin-left: 8px;
    margin-top: 8px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    font-weight: normal;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
}
/*各个不同颜色标签*/
.label-color-1 a{
    /*text-decoration: none;*/
    background-color: red;
}
.label-color-2 a{
    /*text-decoration: none;*/
    background-color: pink;
}
.label-color-3 a{
    /*text-decoration: none;*/
    background-color: green;
}
.label-color-4 a{
    /*text-decoration: none;*/
    background-color: dodgerblue;
}
.label-color-5 a{
    /*text-decoration: none;*/
    background-color: rebeccapurple;
}
.label-color-6 a{
    /*text-decoration: none;*/
    background-color: violet;
}
.label-color-7 a{
    /*text-decoration: none;*/
    background-color: skyblue;
}
.label-color-8 a{
    /*text-decoration: none;*/
    background-color: midnightblue;
}
/*主页最新文章创建时间*/
time i {
    padding-left: 20px;
    font-size: 14px;
    color: #999;
}
/*侧边标签栏*/
.tags {
    margin-left: -8px;
}
/*侧边关于博主*/
.about-me {
    margin-left: 0;
    margin-top: 0;
}
/*关于博主文字*/
.about-me span {
    font-size: 16px;
    padding-left: 10px;
    color: #4e555b;
    line-height: 2em;
}
/*关于博主其他logo*/
.about-logo span {
    padding-right: 15px;
    color: black;
}
/*底部版权信息*/
.footer {
    background-color: #393d49;
    text-align: center;
    padding: 20px;

}
.footer span {
    white-space: nowrap;
    display: inline;
}
.footer a {
    display: inline;
    color: white;
}
.footer a:hover {
    font-weight: bold;
    font-size: 16px;
}
.footer p {
    display: inline;
    color: #95999c;
}
/*分页菜单*/
#page {
    text-align: center;
}
.nav-fixed {
    position: fixed;
    width: 100%;
}