/*导航栏固定定位*/
.nav-fixed {
    position: fixed;
    width: 100%;
}
/*电脑版导航栏logo*/
#desktop-nav img{
    width: 120px;
    margin-top: 10px;
}
/*电脑版导航栏logo*/
#mobile-nav {
    padding: 0;
}
#mobile-nav a{
    display: inline;
    padding-left: 0;
}
/*导航栏图标*/
.nav-icon i {
    font-size: 30px;
    display: inline;
    float: right;
}
.nav-icon {
    float: right;
}
/*导航栏页面边距*/
#desktop-nav {
    padding: 0 5%;
}